
.navbarSot {
  display: flex;     
  align-items: center;
}


.about h1 {
user-select: none;
}

.about .FaPen {
width: 2em;
height: 2em;
padding: 0.5em;
}

.about .FaPen:hover {
background-color: rgb(235, 232, 232);
border-radius: 10vh;
z-index: 1;
}

.labelAbout {
font-size: 0.8em;
}



p>a{font-size: small;
font-weight: 300;}


.fio{display:flex !important;
  justify-content: end !important;}


.perAziende {
width: 50em;
}

/* profilo */

.hoverButtonBlue:hover {
  background-color: rgb(215, 232, 247) !important;
}

.hoverButtonBlack:hover {
  background-color: rgb(206, 210, 212) !important;
}

.iconSideBar:hover {
  background-color: rgb(201, 198, 198);
  border-radius: 50%;
}

.underlineParagraph {
  text-decoration: underline;
}
/* home center bottoni dei post*/

.cardFooter > p:hover {
  background-color: rgba(215, 213, 213, 0.535);
  border-radius: 10%;
}

.outlineInfo:hover {
  background-color: #0DCAF0;
  color: black;
}

.element1:hover, .element2:hover, .element3:hover {
  border-bottom: 1px solid #1065E5 !important;
}

.element2:hover {
  border-bottom: 1px solid #f2b809 !important;
}

.element3:hover {
  border-bottom: 1px solid #f2b809 !important;
}

.arcangelo {
  background-color: white;
  height: 180em;
}

.footer > p {
  text-decoration: underline;
}

.welcomeUtente:hover {
  text-decoration: underline;
}

.ombreggiatura:hover {
 background-color: #EBEBEB;
}

.sottolineato:hover {
  text-decoration: underline;
}

.sottolineato2 {
  text-decoration: underline;
}

.iconaU:hover {
  border-bottom: 1px solid black;
}